<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.bbq.mapper.BbqcommentMapper">
  <resultMap id="BaseResultMap" type="com.buaa.bbq.model.Bbqcomment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bbqcomment_id" jdbcType="INTEGER" property="bbqcommentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="bbqcomment_date" jdbcType="TIMESTAMP" property="bbqcommentDate" />
    <result column="bbqcomment_message" jdbcType="VARCHAR" property="bbqcommentMessage" />
    <result column="bbqcomment_like" jdbcType="INTEGER" property="bbqcommentLike" />
    <result column="bbq_id" jdbcType="INTEGER" property="bbqId" />
  </resultMap>
</mapper>